<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>UEval</title>
        <link rel="stylesheet" href="login-page-main.component.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    </head>
    <body> 
        <div class="container">
            <div class="wrapper">
              <div class="title"><span>UEval Reset Password</span></div>
              <form action="login-page-main.component.html">
                <div class="row">
                  <i class="fas fa-user"></i>
                  <input type="email" placeholder="Account Email" required>
                </div>
                <div class="row button">
                   <input type="submit" value="Reset Password">
                </div>
              </form>
            </div>
          </div>
        <script src="login-page-main.component.ts"> </script>
    </body>
    </html>