<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>UEval</title>
        <link rel="stylesheet" href="schedule-view.component.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    </head>
    <body> 
        <div style="background-color: #1abc9c;">
            <h1 class="text-center"><b>Work Schedule</b></h1>
            <!-- Table Data -->
            <div class="container">
                <hr>
                <input type="text" id="myInput" onkeyup='tableSearch()' placeholder="Name">
        
                <table class="table" id="myTable" data-filter-control="true" data-show-search-clear-button="true">
                    <tr>
                        <th></th>
                        <th>10/6/2022</th>
                        <th>10/7/2022</th>
                        <th>10/8/2022</th>
                    </tr>
                    <tr>
                        <td>NCH 7a</td>
                        <td style="background-color: yellow;"><b>Caperell K</b></td>
                        <td style="background-color: yellow;"><b>Klensch J</b></td>
                        <td style="background-color: yellow;"><b>Hart R</b></td>
                    </tr>
                    <tr>
                        <td>NCH 8a</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>NCH 9a</td>
                        <td style="background-color: yellow;"><b>Lund R</b></td>
                        <td style="background-color: yellow;"><b>Spurlin B</b></td>
                        <td style="background-color: yellow;"><b>Eastep K</b></td>
                    </tr>
                    <tr>
                        <td>NCH 11a</td>
                        <td></td>
                        <td style="background-color: orange;"><b>Magloire V</b></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>NCH 3p</td>
                        <td style="background-color: red;"><b>Starr R</b></td>
                        <td style="background-color: red;"><b>Patterson A</b></td>
                        <td style="background-color: red;"><b>Hanson A</b></td>
                    </tr>
                    <tr>
                        <td>NCH 4p</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>NCH 5p</td>
                        <td style="background-color: purple;"><b>Eastep K</b></td>
                        <td style="background-color: purple;"><b>Poteh A</b></td>
                        <td style="background-color: purple;"><b>Caperell K</b></td>
                    </tr>
                    <tr>
                        <td>NCH 7p</td>
                        <td  style="background-color: purple;"><b>Hart R</b></td>
                        <td  style="background-color: purple;"><b>Lund R</b></td>
                        <td  style="background-color: purple;"><b>Lund R</b></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td  style="background-color: purple;"><b>Bhargava A</b></td>
                    </tr>
                    <tr>
                        <td>NCH 8p</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>NCH 11p</td>
                        <td style="background-color: purple;"><b>Laniewicz M</b></td>
                        <td style="background-color: purple;"><b>Anderson B</b></td>
                        <td style="background-color: purple;"><b>Anderson B</b></td>
                    </tr>
                </table>
            </div>
        </div>
        <script src="schedule-view.component.js"> </script>
        <!--The calendar, (see "calendar folder"):-->
        <div id="calendarSection">
            <h1 class="text-center" id="calendarTitle"><b>Calendar</b></h1>
            <weekCalendarSchedule></weekCalendarSchedule>
        </div>
    </body>
    </html>