<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>UEval</title>
        <link rel="stylesheet" href="employee-list.component.css" />
    </head>
    <body> 
    <div class="employee_background">
        <h2 style="text-align: center;">UOFL Health Employees</h2><br><br>

        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name"><br><br>

        <ul id="myUL">
        <li><a href="#">Albert Seow</a></li><br>
        <li><a href="#">Henery Saldo</a></li><br>

        <li><a href="#">Faraaz Rahman</a></li><br>
        <li><a href="#">Dawn Caster</a></li><br>

        <li><a href="#">Courtney Schilmiller</a></li><br>
        <li><a href="#">Akshitkumar Mistry</a></li><br>

        <li><a href="#">Ashutosh Barve</a></li><br>
        <li><a href="#">James Baker</a></li><br>

        <li><a href="#">Clay Condley</a></li><br>
        <li><a href="#">Stephen Taylor</a></li><br>
        
        <li><a href="#">Nancy Cahill</a></li><br>
        <li><a href="#">Jiapeng Huang</a></li><br>
        
        </ul>
    </div>
        <script src="employee-list.component.js"> </script>
    </body>
    </html>