<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>UEval</title>
        <link rel="stylesheet" href="uofl-health-main.component.css" />
    </head>
    <body> 
        <header class="hero">
            <div class="container spacing">
                <img src="../../assets/image/Capstone Logo.PNG">
              <h1 class="primary-title">Uofl Health and Norton Pediatric Evulation</h1>
            </div>
          </header>
        
          <main>
            <section class="featured">
                <div class="container">
                  <h2 class="section-title">Upload Your Schedule</h2>
          
                  <article class="product shoe-red spacing">      
                    <h3 class="product__title">Hostiptal Upload</h3>
                    <p class="product__description"></p>
                    <uploadModal></uploadModal> <!--See upload-modal folder; Uses an ngBootstrap modal.-->
                  </article>
                </div>
              </section>
        
            <section class="featured">
              <div class="container">
                <h2 class="section-title">Employee List</h2>
        
                <article class="product shoe-red spacing">
          
                  <h3 class="product__title">UOFL HEALTH</h3>
                  <p class="product__description"></p>
                  <a href="../employee-list/employee-list.component.html" class="btn">Uofl Employees</a>
                </article>
                <article class="product shoe-red spacing">
                    <h3 class="product__title">NORTON PEDIATRIC</h3>
                    <p class="product__description"></p>
                    <a href="../employee-list/employee-list.component.html" class="btn">Norton Employees</a>
                  </article>
              
              </div>
            </section>
        
        
            <section class="our-products">
              <div class="container">
                <h2 class="section-title">Schedule & Surveys</h2>
        
                <article class="product shoe-red spacing">      
                  <h3 class="product__title">UOFL HEALTH</h3>
                  <p class="product__description"></p>
                  <a href="" class="btn">Uofl Health Schedule</a>
                </article>
        
                <article class="product shoe-white shoe-left spacing">
                  <h3 class="product__title">NORTON PEDIATRIC</h3>
                  <p class="product__description"></p>
                  <a href="" class="btn">Norton Schedule</a>
                </article>
        
                <article class="product shoe-blue spacing">
                  <h3 class="product__title">SURVEYS</h3>
                  <p class="product__description"></p>
                  <a href="" class="btn">Surveys</a>
                </article>
        
              </div>
            </section>
        
          </main>
        <script src="uofl-health-main.compontent.js"> </script>
        <!-- TODO: take in login info from login-page-main.component; validate it-->

        <!-- <p> Testing. Random number here: {{rando}}</p> -->
    </body>
    </html>