<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>UEval</title>
        <link rel="stylesheet" href="upload.main.compontent.css" />
    </head>
    <body> 
        <div class="upload-box">
            <input type="checkbox" class="radio"name="hospital[1][]" value="1"/>
            <span style="width:170px;display:inline-block;color:red;">UOFL Health Schedule</span>
            <input type="checkbox"class="radio"name="hospital[1][]" value="1" />
            <span style="width:200px;display:inline-block;">Norton Health Schedule</span>
        </div>           
        <input type="file" id="myFile" name="filename" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
        <input type="submit">
        <script src="upload.main.compontent.ts"> </script>
    </body>
    </html>





