/* You can add global styles to this file, and also import other style files */
@import '../node_modules/flatpickr/dist/flatpickr.min.css';
/*Make <router-outlet> use entire screen (override useragent)*/
body {
    margin: 0;
    padding: 0;
}
/*background color; needed after having hidden elements (via *ngIf)*/
html{
    background: #1abc9c; 
  }